<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
 <%= form.label(:public, for: nil, class:'post-status__label') do %>
      <label><%= form.radio_button :status, :public %> 公開 </label>
  <% end %>
  <%= form.label(:private, for: nil, class:'post-status__label') do %>
      <label><%= form.radio_button :status, :private %> 非公開 </label>
  <% end %>
<% end %>
